{%- for snippet in snippetList | reverse %}
  "{{ snippet.data.name }}": {
    "prefix": {% if (snippet.data.prefix | isArray) -%}[
      {%- for prefix in snippet.data.prefix -%}
        "{{ snippet.data.prefix }}"{% if not loop.last %}, {% endif -%}
      {% endfor %}]
      {%- else -%}
      "{{ snippet.data.prefix }}"
      {%- endif -%},
    "body": [
      {% formatSnippetBody snippet.templateContent, indent %}
    ],
    "description": "{% if snippet.data.description %}{{ snippet.data.description }}{% endif %}"
  }
  {%- if not loop.last -%}
  ,
  {% endif %}
{%- endfor %}