---
name: snippet-tabs
prefix: badger:tab
description: snippet description goes here
scope: javascript, typescript
---
const req = async fetch($1)
// this is a single line comment
const res = await req.json()
const string = "badger" // inline comment test
for (const item of res) {
	if (item.name.includes(string)) {
		console.log(item.name)
	}
}
$0
