---
name: snippet-name-goes-here
prefix: badger:4
description: snippet description goes here
scope: javascript, typescript
spaceIndent: 4
---
const req = async fetch($1)
// this is a single line comment
const res = await req.json()
const string = "badger" // inline comment test
for (const item of res) {
    if (item.name.includes(string)) {
        console.log(item.name)
    }
}
$0
