---
permalink: "{{ page.filePathStem }}.json"
---
{
  "{{ name }}": { {% if scope %}
    "scope": "{{ scope }}",{% endif %}
    "prefix": "{{ prefix }}",
    "body": [
      {{ content | trim | formatSnippetBody | safe }}
    ],
    "description": "{% if description %}{{ description }}{% endif %}"
  }
}