---
permalink: "{{ page.filePathStem }}.json"
---
{
  "{{ name }}": {
    "prefix": {% if (prefix | isArray) -%}[
      {%- for prefix in prefix -%}
        "{{ prefix }}"{% if not loop.last %}, {% endif -%}
      {% endfor %}]
      {%- else -%}
      "{{ prefix }}"
      {%- endif -%},
    "body": [
      {% formatSnippetBody content, indent %}
    ],
    "description": "{% if description %}{{ description }}{% endif %}"
  }
}