---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - helpers
permalink: "{{ tag }}.json"
---

{%- set snippetList = collections [ tag ] -%}
{
{% if snippetList.length %}
  {%- include "snippet-list.njk" -%}
{% endif -%}
}